@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "微軟正黑體";
}

.pc {
  display: block !important;
}
@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
}

.mb {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .mb {
    display: block !important;
  }
}

nav {
  display: grid;
  grid-template-columns: 20% 65% 15%;
  align-items: center;
  padding: 20px 20px;
  background-color: rgba(204, 204, 204, 0.8);
  box-shadow: 0 2px 5px #ccc;
  position: fixed;
  width: 100%;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  nav {
    grid-template-columns: repeat(2, 1fr);
  }
}

.navTitle {
  display: flex;
}
@media screen and (max-width: 768px) {
  .navTitle {
    display: none;
  }
}

.navTitle > div {
  margin: 0 15px;
}
.navTitle > div a {
  text-decoration: none;
  color: #000;
}

.navIcon {
  text-align: center;
}
.navIcon a {
  text-decoration: none;
}
.navIcon a img {
  width: 32px;
  height: 32px;
}

.fb_icon {
  width: 31px !important;
  height: 31px !important;
}

@media screen and (max-width: 768px) {
  .menu {
    text-align: right;
  }
}

.openMenu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(204, 204, 204, 0.7);
  z-index: 30;
  right: -100%;
  opacity: 0;
  transition: all 0.5s;
}
.openMenu .menuData {
  position: absolute;
  right: -100%;
  width: 75%;
  height: 100%;
  background-color: #fff;
  padding: 20px;
  transition: all 0.5s;
}
.openMenu .menuData .close {
  position: absolute;
  right: 20px;
  top: 20px;
}
.openMenu .menuData .menuList {
  margin-top: 20vw;
}
.openMenu .menuData .menuList div {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.openMenu .menuData .menuList div a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}
.openMenu .menuData .menuIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.swiper-slide img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination {
  color: #fff;
  font-weight: 900;
  font-size: 18px;
}

.swiper-slide {
  position: relative;
}
.swiper-slide .bannerTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  color: #fff;
  text-align: center;
}

.H1Style, .PStyle {
  font-size: 60px;
  text-shadow: 1px 1px 2px #000;
}

.PStyle {
  font-size: 20px;
}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 30;
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.product {
  padding: 15px 80px;
}
@media screen and (max-width: 900px) {
  .product {
    padding: 15px 5vw;
  }
}
.product > div {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 15px;
  margin-bottom: 25px;
}
@media screen and (max-width: 900px) {
  .product > div {
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-areas: "pic" "text" !important;
  }
}
.product > div:nth-child(2) {
  grid-template-areas: "pic text";
  grid-template-columns: 60% 40%;
}
@media screen and (max-width: 900px) {
  .product > div:nth-child(2) {
    grid-template-areas: none;
  }
}
.product > div:nth-child(2) .text {
  grid-area: text;
}
@media screen and (max-width: 900px) {
  .product > div:nth-child(2) .text {
    grid-area: auto;
  }
}
.product > div:nth-child(2) .pic {
  grid-area: pic;
}
@media screen and (max-width: 900px) {
  .product > div:nth-child(2) .pic {
    grid-area: auto;
  }
}
@media screen and (max-width: 900px) {
  .product > div .text {
    grid-area: text !important;
    text-align: center;
  }
}
.product > div .text .title {
  font-size: 26px;
  font-weight: 600;
}
.product > div .text hr {
  margin: 20px 0 15px;
}
.product > div .text p {
  width: 300px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
@media screen and (max-width: 900px) {
  .product > div .text p {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .product > div .pic {
    grid-area: pic !important;
  }
}
.product > div .pic img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

.moreHover, .brand a {
  border: 1px solid #15733a;
  color: #15733a;
  padding: 5px 50px;
  text-decoration: none;
  transition: all 0.5s;
}
.moreHover:hover, .brand a:hover {
  background-color: #15733a;
  color: #fff;
}

.brand {
  display: grid;
  text-align: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 15px 65px;
}
@media screen and (max-width: 900px) {
  .brand {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 15px 5vw;
  }
}
.brand .brandPic img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.brand h3 {
  padding: 20px 0;
  font-size: 24px;
}
.brand hr, .brand p {
  margin-bottom: 20px;
}
.brand p {
  letter-spacing: 1px;
}
footer {
  background-color: #eee;
  padding: 100px 0;
  margin-top: 100px;
  text-align: center;
}
@media screen and (max-width: 900px) {
  footer {
    padding: 10vw 5vw;
    margin-top: 10vw;
  }
}
footer img {
  width: 32px;
  height: 32px;
}
footer .contact {
  margin: 20px 0;
  color: #15733A;
}
footer .copyright {
  color: #aaa;
  font-size: 11px;
}

.br900 {
  display: none;
}
@media screen and (max-width: 900px) {
  .br900 {
    display: block;
  }
}/*# sourceMappingURL=reset.css.map */