*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '微軟正黑體';
}

//  !important 最高層級(最高權重)
.pc{
    display: block !important;
    @media screen and (max-width: 768px){
        display: none !important;
    }
}
.mb{
    display: none !important;
    @media screen and (max-width: 768px){
        display: block !important;
    }
}


// 引入 資料夾名稱/ "_分支名稱"
// 有分引入順序
// 引入的scss都放在最後面
// 避免class名稱重複 !!
@import "page/_nav.scss"; //導覽列
@import "page/_swiper.scss"; // 輪播
@import "page/_product.scss"; // 產品介紹