nav{
    display: grid;
    grid-template-columns:20% 65% 15% ;
    align-items: center;
    padding: 20px 20px;
    background-color: rgba(#ccc, 0.8);
    box-shadow: 0 2px 5px #ccc;
    position: fixed;
    width: 100%;
    z-index: 10;
    @media screen and (max-width: 768px){
        grid-template-columns:repeat(2,1fr); //(子元素總數量, 1fr(平均分散寬度))

        // 方法2
        // grid-template-columns:50% 50%;
    }
}
.navTitle{
    display: flex;
    @media screen and (max-width: 768px){
        display: none;
    }
}

.navTitle > div{
    margin: 0 15px;
    a{
        text-decoration: none;
        color: #000;
    }
}



.navIcon{
    text-align: center;
    a{
        text-decoration: none;
        img{
            width: 32px;
            height: 32px;
        }
        .fb_icon{
            width: 31px;
            height: 31px;
        }
    }
    
}
.menu{
    @media screen and (max-width: 768px){
        text-align: right;
    }
}

//手機版選單
.openMenu{
    //position: fixed 占滿整個版面 所以可以當成position: absolute
    position: fixed;
    height: 100%;
    width: 100%;
    //background可以做漸層 background-color不可以做漸層
    background-color: rgba(#ccc,0.7);
    z-index: 30;
    //預設值
    right: -100%;
    transition: all 0.5s;
    .menuData{
        position: absolute;
        width: 75%;
        height: 100%;
        background-color: #fff;
        right: 0px;
        padding: 20px;
        .close{
            position: absolute;
            right: 20px;
            top: 20px;
            

        }
        .menuList{
            margin-top: 20vw;
            div{
                margin-bottom: 20px;
                border-bottom: 1px solid #ccc;
                text-align: center;

                a{
                    text-decoration: none;
                    color: #000;
                    font-size: 20px;
                }
            }
        }
        .menuIcon{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
        
    }
}